/*GLOBAL*/
* {
  box-sizing: border-box;
  scrollbar-color: #d7d5ca #0c0d0d;
  font-family: "Inter", sans-serif;
}
* a:hover {
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.App {
  background: #212121;
}
.App .table {
  margin-bottom: 0;
}
.App .table th {
  color: #efbf3f;
}
.App .table td {
  color: #d7d5ca;
}
.App .table a {
  color: #efbf3f;
}
.App .table .table-striped {
  background: #3b3b3b;
}

.decorative-lines {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #efbf3f transparent transparent transparent;
}

.decorative-lines-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #d7d5ca transparent transparent transparent;
}

.decorative-lines-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #efbf3f transparent;
}

.decorative-lines-bottom-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #d7d5ca transparent;
}

#online-checker {
  display: none;
}

/*HEADER*/
#link-container {
  display: flex;
  flex-direction: row;
}
#link-container svg {
  fill: #505050;
  margin-right: 0.4rem;
  transition: fill 1s;
  transform: scale(1.2);
  margin-left: 0.4rem;
}
#link-container svg:hover {
  fill: #d7d5ca;
}

.nav {
  background-color: #0c0d0d;
  border-bottom: solid 1px #efbf3f;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #efbf3f;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: black;
}
.navbar-dark .navbar-nav .btn {
  color: black;
}
.navbar-dark .navbar-nav .btn-outline-warning {
  border-radius: 0;
  border: none;
}

.yearofgaming-container {
  color: #d7d5ca;
}

.table-text-container {
  background-color: #181919;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.5);
}
.table-text-container h3 {
  color: #efbf3f;
}
.table-text-container a {
  color: #efbf3f;
}
.table-text-container a:hover {
  color: #efbf3f;
}

.table-container {
  color: #d7d5ca;
  background-color: #0c0d0d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 30px 10px;
  padding: 5px;
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.5);
}
.table-container .table-dark {
  background-color: #0c0d0d;
}
.table-container .table-striped {
  background-color: #0c0d0d;
}

.complete {
  color: rgba(239, 191, 63, 0.75);
}

/*LIVE ALERT*/
.special-center {
  position: absolute;
  left: 48%;
}

@keyframes flashing-live {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#offline-text {
  font-family: "Inter", sans-serif;
  color: #d7d5ca;
  padding: 0;
  font-size: 2.3rem;
  animation: fade-in 6s;
}

#live-symbol {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 15px;
  margin-right: 1rem;
  padding: 0.75rem;
  animation: flashing-live 3s;
  animation-iteration-count: 10;
}

/*FOOTER*/
#footer {
  background-color: #0c0d0d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d7d5ca;
  text-align: center;
  border-top: solid 1px #efbf3f;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
#footer a:hover {
  color: #efbf3f;
}

/*HOME CSS SECTION*/
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#homecontainer {
  display: flex;
  flex-direction: column;
  margin: 2vh auto 5vh auto;
}

.button-design {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #d7d5ca transparent;
  cursor: pointer;
  transition: transform 0.5s, border-color 0.5s;
}

.next-button {
  transform: rotate(-45deg);
}

.prev-button {
  transform: rotate(135deg);
}

.next-button:hover {
  transform: scale(1.1) rotate(-45deg);
  border-color: transparent transparent #efbf3f transparent;
}

.prev-button:hover {
  transform: scale(1.1) rotate(135deg);
  border-color: transparent transparent #efbf3f transparent;
}

.main-container {
  display: flex;
  margin: auto;
  padding-top: 4rem;
  flex-direction: column;
  max-width: 100%;
}
.main-container p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d7d5ca;
}
.main-container .title-divider {
  border: solid 1px #efbf3f;
  max-width: 100%;
}
.main-container .button-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-container .button-cards .clipscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 2rem;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(1) img {
  animation-delay: 0.05s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(1) p {
  animation-delay: 0.05s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(1) .clip-detail {
  animation-delay: 0.05s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(2) img {
  animation-delay: 0.1s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(2) p {
  animation-delay: 0.1s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(2) .clip-detail {
  animation-delay: 0.1s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(3) img {
  animation-delay: 0.15s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(3) p {
  animation-delay: 0.15s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(3) .clip-detail {
  animation-delay: 0.15s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(4) img {
  animation-delay: 0.2s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(4) p {
  animation-delay: 0.2s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(4) .clip-detail {
  animation-delay: 0.2s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(5) img {
  animation-delay: 0.25s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(5) p {
  animation-delay: 0.25s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(5) .clip-detail {
  animation-delay: 0.25s;
}
.main-container .button-cards .clipscontainer .clipcard {
  position: relative;
  background-color: #0c0d0d;
  flex-direction: row;
  padding: 0.2rem 0.2rem 1rem 0.2rem;
  margin: 0.5rem;
  border-radius: 10px;
  width: 14rem;
  height: 19rem;
  transition: transform 0.5s, box-shadow 0.5s, color 0.5s;
  overflow: hidden;
}
.main-container .button-cards .clipscontainer .clipcard img {
  border-top-right-radius: 10px;
  position: relative;
  width: 100%;
  height: 45%;
  animation: 0.25s ease-in-out both fade-in;
}
.main-container .button-cards .clipscontainer .clipcard p {
  font-size: 1rem;
  text-align: center;
  margin: 10%;
  color: #d7d5ca;
  font-weight: normal;
  animation: 0.25s ease-in-out both fade-in;
}
.main-container .button-cards .clipscontainer .clipcard .decorative-lines {
  position: absolute;
  top: 0;
  left: 0;
}
.main-container .button-cards .clipscontainer .clipcard .clip-detail {
  border: solid 1px #efbf3f;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  animation: 0.25s ease-in-out both fade-in;
}
.main-container .button-cards .clipscontainer .clipcard:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px 1px #121212;
}
.main-container .button-cards .clipscontainer .clipcard:hover p {
  color: #efbf3f;
}
.main-container .button-cards .clipscontainer .clipcard:hover .decorative-lines {
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .next-button {
    transform: scale(0.6) rotate(-45deg);
  }

  .prev-button {
    transform: scale(0.6) rotate(135deg);
  }

  .next-button:hover {
    transform: scale(0.9) rotate(-45deg);
    border-color: transparent transparent #efbf3f transparent;
  }

  .prev-button:hover {
    transform: scale(0.9) rotate(135deg);
    border-color: transparent transparent #efbf3f transparent;
  }

  .main-container .bottom-divider {
    border: solid 1px #efbf3f;
  }
  .main-container .button-cards .clipscontainer {
    scrollbar-width: thin;
    scrollbar-color: #efbf3f #212121;
    height: 18rem;
    overflow-y: scroll;
    border-bottom: 10px #d7d5ca;
  }
  .main-container .button-cards .clipscontainer .clipcard {
    width: 9rem;
    height: 14rem;
  }
  .main-container .button-cards .clipscontainer .clipcard p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .App .table td {
    font-size: 0.9rem;
  }

  .main-container .bottom-divider {
    border: solid 1px #efbf3f;
  }
  .main-container .button-cards .clipscontainer {
    scrollbar-width: thin;
    scrollbar-color: #efbf3f #212121;
    height: 18rem;
    overflow-y: scroll;
    border-bottom: 10px #d7d5ca;
  }
  .main-container .button-cards .clipscontainer .clipcard {
    width: 7rem;
    height: 12rem;
  }
  .main-container .button-cards .clipscontainer .clipcard p {
    font-size: 0.8rem;
  }
}
/*COMMUNITY PAGE*/
#discord-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*RADAR*/

/*# sourceMappingURL=App.css.map */
