/*GLOBAL*/
* {
  box-sizing: border-box;
  scrollbar-color: #d7d5ca #0c0d0d;
  font-family: "Inter", sans-serif;
}
* a:hover {
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.App {
  background: #212121;
}
.App .table {
  margin-bottom: 0;
}
.App .table th {
  color: #efbf3f;
}
.App .table td {
  color: #d7d5ca;
}
.App .table a {
  color: #efbf3f;
}
.App .table .table-striped {
  background: #3b3b3b;
}

.decorative-lines {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #efbf3f transparent transparent transparent;
}

.decorative-lines-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #d7d5ca transparent transparent transparent;
}

.decorative-lines-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #efbf3f transparent;
}

.decorative-lines-bottom-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #d7d5ca transparent;
}

#online-checker {
  display: none;
}

/*HEADER*/
#link-container {
  display: flex;
  flex-direction: row;
}
#link-container svg {
  fill: #505050;
  margin-right: 0.4rem;
  transition: fill 1s;
  transform: scale(1.2);
  margin-left: 0.4rem;
}
#link-container svg:hover {
  fill: #d7d5ca;
}

.nav {
  background-color: #0c0d0d;
  border-bottom: solid 1px #efbf3f;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #efbf3f;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: black;
}
.navbar-dark .navbar-nav .btn {
  color: black;
}
.navbar-dark .navbar-nav .btn-outline-warning {
  border-radius: 0;
  border: none;
}

.yearofgaming-container {
  color: #d7d5ca;
}

.table-text-container {
  background-color: #181919;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.5);
}
.table-text-container h3 {
  color: #efbf3f;
}
.table-text-container a {
  color: #efbf3f;
}
.table-text-container a:hover {
  color: #efbf3f;
}

.table-container {
  color: #d7d5ca;
  background-color: #0c0d0d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 30px 10px;
  padding: 5px;
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.5);
}
.table-container .table-dark {
  background-color: #0c0d0d;
}
.table-container .table-striped {
  background-color: #0c0d0d;
}

.complete {
  color: rgba(239, 191, 63, 0.75);
}

/*COUNTDOWN*/
@keyframes flashing-live {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#live-countdown {
  max-width: 100%;
  display: flex;
  background-color: #0c0d0d;
  color: #efbf3f;
  width: 80rem;
  margin: auto;
  height: 6%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  animation: growDown 600ms ease-in-out forwards;
  transform-origin: top center;
}
#live-countdown #deco-text-container a:hover {
  transform: scale(1.02);
}

#offline-text {
  font-family: "Inter", sans-serif;
  color: #d7d5ca;
  padding: 0;
  font-size: 2.3rem;
  animation: fade-in 6s;
}

#live-symbol {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 15px;
  margin-right: 1rem;
  padding: 0.75rem;
  animation: flashing-live 3s;
  animation-iteration-count: 10;
}

/*FOOTER*/
#footer {
  background-color: #0c0d0d;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d7d5ca;
  text-align: center;
  border-top: solid 1px #efbf3f;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
#footer a:hover {
  color: #efbf3f;
}

/*HOME CSS SECTION*/
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#homecontainer {
  display: flex;
  flex-direction: column;
  margin: 2vh auto 5vh auto;
}

#phrase {
  align-self: center;
  display: flex;
  flex-direction: row;
  background-color: #0c0d0d;
  width: 40%;
  padding: 20px;
  align-items: center;
  transform: skewX(25deg);
  border-radius: 10px;
  position: relative;
}
#phrase .decorative-lines {
  position: absolute;
  top: 0;
  left: 0;
}
#phrase .decorative-lines-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

#first {
  margin-left: auto;
  transform: skewX(-25deg);
}

.gaming {
  animation: 2s ease-in-out both fade-in;
  font-size: 4rem;
  color: #d7d5ca;
  padding: 0.2rem;
  font-style: italic;
}

.gaming:nth-child(6) {
  animation-delay: 0.1s;
}

.gaming:nth-child(5) {
  animation-delay: 0.2s;
}

.gaming:nth-child(4) {
  animation-delay: 0.3s;
}

.gaming:nth-child(3) {
  animation-delay: 0.4s;
}

.gaming:nth-child(2) {
  animation-delay: 0.5s;
}

.gaming:nth-child(1) {
  animation-delay: 0.6s;
}

#second {
  align-self: flex-end;
  margin-right: auto;
  padding-left: 2rem;
  transform: skewX(-25deg);
}

.welsh {
  animation: 5s ease-in-out both fade-in;
  font-size: 2.5rem;
  color: #efbf3f;
  font-style: italic;
}

.welsh:nth-child(1) {
  animation-delay: 0.1s;
}

.welsh:nth-child(2) {
  animation-delay: 0.2s;
}

.welsh:nth-child(3) {
  animation-delay: 0.3s;
}

.welsh:nth-child(4) {
  animation-delay: 0.4s;
}

.welsh:nth-child(5) {
  animation-delay: 0.5s;
}

.welsh:nth-child(6) {
  animation-delay: 0.6s;
}

.welsh:nth-child(7) {
  animation-delay: 0.7s;
}

.welsh:nth-child(8) {
  animation-delay: 0.8s;
}

.welsh:nth-child(9) {
  animation-delay: 0.9s;
}

.welsh:nth-child(10) {
  animation-delay: 1s;
}

.welsh:nth-child(11) {
  animation-delay: 1.1s;
}

.welsh:nth-child(12) {
  animation-delay: 1.2s;
}

.welsh:nth-child(13) {
  animation-delay: 1.3s;
}

.welsh:nth-child(14) {
  animation-delay: 1.4s;
}

.welsh:nth-child(15) {
  animation-delay: 1.5s;
}

.welsh:nth-child(16) {
  animation-delay: 1.6s;
}

.welsh:nth-child(17) {
  animation-delay: 1.7s;
}

.welsh:nth-child(18) {
  animation-delay: 1.8s;
}

.welsh:nth-child(19) {
  animation-delay: 1.9s;
}

.button-design {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #d7d5ca transparent;
  cursor: pointer;
  transition: transform 0.5s, border-color 0.5s;
}

.next-button {
  transform: rotate(-45deg);
}

.prev-button {
  transform: rotate(135deg);
}

.next-button:hover {
  transform: scale(1.1) rotate(-45deg);
  border-color: transparent transparent #efbf3f transparent;
}

.prev-button:hover {
  transform: scale(1.1) rotate(135deg);
  border-color: transparent transparent #efbf3f transparent;
}

.main-container {
  display: flex;
  margin: auto;
  padding-top: 4rem;
  flex-direction: column;
  max-width: 100%;
}
.main-container p {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d7d5ca;
}
.main-container .title-divider {
  border: solid 1px #efbf3f;
  max-width: 100%;
}
.main-container .button-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-container .button-cards .clipscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 2rem;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(1) img {
  animation-delay: 0.05s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(1) p {
  animation-delay: 0.05s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(1) .clip-detail {
  animation-delay: 0.05s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(2) img {
  animation-delay: 0.1s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(2) p {
  animation-delay: 0.1s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(2) .clip-detail {
  animation-delay: 0.1s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(3) img {
  animation-delay: 0.15s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(3) p {
  animation-delay: 0.15s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(3) .clip-detail {
  animation-delay: 0.15s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(4) img {
  animation-delay: 0.2s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(4) p {
  animation-delay: 0.2s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(4) .clip-detail {
  animation-delay: 0.2s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(5) img {
  animation-delay: 0.25s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(5) p {
  animation-delay: 0.25s;
}
.main-container .button-cards .clipscontainer .clipcard:nth-child(5) .clip-detail {
  animation-delay: 0.25s;
}
.main-container .button-cards .clipscontainer .clipcard {
  position: relative;
  background-color: #0c0d0d;
  flex-direction: row;
  padding: 0.2rem 0.2rem 1rem 0.2rem;
  margin: 0.5rem;
  border-radius: 10px;
  width: 14rem;
  height: 19rem;
  transition: transform 0.5s, box-shadow 0.5s, color 0.5s;
  overflow: hidden;
}
.main-container .button-cards .clipscontainer .clipcard img {
  border-top-right-radius: 10px;
  position: relative;
  width: 100%;
  height: 45%;
  animation: 0.25s ease-in-out both fade-in;
}
.main-container .button-cards .clipscontainer .clipcard p {
  font-size: 1rem;
  text-align: center;
  margin: 10%;
  color: #d7d5ca;
  font-weight: normal;
  animation: 0.25s ease-in-out both fade-in;
}
.main-container .button-cards .clipscontainer .clipcard .decorative-lines {
  position: absolute;
  top: 0;
  left: 0;
}
.main-container .button-cards .clipscontainer .clipcard .clip-detail {
  border: solid 1px #efbf3f;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  animation: 0.25s ease-in-out both fade-in;
}
.main-container .button-cards .clipscontainer .clipcard:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px 1px #121212;
}
.main-container .button-cards .clipscontainer .clipcard:hover p {
  color: #efbf3f;
}
.main-container .button-cards .clipscontainer .clipcard:hover .decorative-lines {
  z-index: 1;
}

@media screen and (max-width: 1800px) {
  .gaming {
    font-size: 3rem;
  }

  .welsh {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1500px) {
  .gaming {
    font-size: 2rem;
  }

  .welsh {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1150px) {
  #phrase {
    width: 100%;
    transform: skewX(0);
  }

  #first {
    transform: skewX(0);
  }

  #second {
    transform: skewX(0);
  }
}
@media screen and (max-width: 1200px) {
  .next-button {
    transform: scale(0.6) rotate(-45deg);
  }

  .prev-button {
    transform: scale(0.6) rotate(135deg);
  }

  .next-button:hover {
    transform: scale(0.9) rotate(-45deg);
    border-color: transparent transparent #efbf3f transparent;
  }

  .prev-button:hover {
    transform: scale(0.9) rotate(135deg);
    border-color: transparent transparent #efbf3f transparent;
  }

  .main-container .bottom-divider {
    border: solid 1px #efbf3f;
  }
  .main-container .button-cards .clipscontainer {
    scrollbar-width: thin;
    scrollbar-color: #efbf3f #212121;
    height: 18rem;
    overflow-y: scroll;
    border-bottom: 10px #d7d5ca;
  }
  .main-container .button-cards .clipscontainer .clipcard {
    width: 10rem;
    height: 15rem;
  }
  .main-container .button-cards .clipscontainer .clipcard p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .gaming {
    font-size: 1.5rem;
  }

  .welsh {
    font-size: 1rem;
  }

  .main-container .button-cards .clipscontainer .clipcard {
    width: 8rem;
    height: 12rem;
  }
  .main-container .button-cards .clipscontainer .clipcard p {
    font-size: 0.6rem;
  }
}
/*COMMUNITY PAGE*/
#discord-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*CONTACT*/
#intro-container {
  position: relative;
  width: 1000px;
  max-width: 1200px;
  background-color: #0c0d0d;
  color: #d7d5ca;
  margin: auto;
  margin-top: 7rem;
  border-radius: 10px;
}
#intro-container #accesibilityFriendly {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#intro-container #contacts {
  display: flex;
}
#intro-container #contacts .contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem auto;
  padding-bottom: 2rem;
}
#intro-container #contacts .contact-type {
  color: #d7d5ca;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem auto 0.5rem auto;
}
#intro-container #contacts .contact-info {
  color: #efbf3f;
  font-size: 1.5rem;
  margin: 1rem auto;
}
@media screen and (max-width: 1000px) {
  #intro-container {
    width: 100%;
  }
  #intro-container #contacts .contact-info {
    font-size: 1rem;
  }
  #intro-container #contacts .contact-type {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
#scheduler-container {
  display: flex;
  flex-direction: row;
  /* .stream-dialog */
}
#scheduler-container .button {
  cursor: pointer;
}
#scheduler-container .calendar {
  /* background-color: red; */
  width: 400px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#scheduler-container .stream-list {
  position: relative;
  left: 100px;
  top: 0;
}
#scheduler-container .day-name {
  text-align: center;
}
#scheduler-container .date {
  padding: 20px;
  /* border-radius: 0; */
  border: none;
}
#scheduler-container .selected {
  background-color: rgba(255, 123, 44, 0.5);
}
#scheduler-container .form-container {
  position: absolute;
  top: auto;
}
#scheduler-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
#scheduler-container .exit-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
  border: none;
  background-color: #e70000;
  text-align: center;
  border-radius: 5px;
}
#scheduler-container .stream-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 11;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  background-color: white;
  border: solid 2px black;
  padding: 10px;
}

/*# sourceMappingURL=App.css.map */
